header {background-color:rgba(231,46,52,0.8);}
.content{
	width:700px;
	margin: 0 auto;
	height:100%;
}
.content img{
	margin:50px 200px 10px;
}
.content p{
	color:rgb(231,46,52);
}
hr{border:1px dashed rgb(231,46,52);}
footer { background: rgb(231,46,52); width: 100%;height:100px;padding-top: 50px ;box-shadow:0 0 4px rgba(0,0,0,0.3);}
.copyright{ 
	text-align: center;
	font:10px/20px  "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif; 
	color: #fff;
}

/*更改文字鼠标选中颜色*/
::selection {
    background:rgb(231,46,52); 
    color:#fff;
}

::-moz-selection {
    background:rgb(231,46,52); 
    color:#fff;
}

::-webkit-selection {
    background:rgb(231,46,52); 
    color:#fff;
}