@font-face{
	font-family:"Raphaelicons";
	src:url('../fonts/raphaelicons-webfont.eot') format('eot'),
		url('../fonts/raphaelicons-webfont.ttf') format('truetype'),
		url('../fonts/raphaelicons-webfont.woff') format('woff'),
		url('../fonts/raphaelicons-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	font-weight: 400;
	font-family: Georgia,serif;
	background: #ddd;
	font-size: 15px;
	color:#333;
	overflow: hidden;
	-webkit-font-smoothing:antialiased;
}

a{
	text-decoration: none;
	color:#555;
}

.clr{
	width:0;
	height:0;
	margin:0;
	padding:0;
	clear:both;
	overflow: hidden;
}

.st-container{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	font-family: "Josenfin Slib","Myriad Pro",Arial,sans-serif;
}

.st-container > input,
.st-container > a{
	width:20%;
	height:40px;
	line-height:40px;
	position:fixed;
	bottom: 0;
	cursor:pointer;
}

.st-container > input{
	opacity:0;
	z-index:1000;
}

.st-container > a{
	z-index:10;
	font-weight:400;
	font-size: 20px;
	background: #e23a60;
	text-align: center;
	color:#fff;
	text-shadow:1px 1px 1px rgba(151,24,64,0.2);
} 

#st-control-1,#st-control-1 + a{
	left:0%;
}

#st-control-2,#st-control-2 + a{
	left:20%;
}

#st-control-3,#st-control-3 + a{
	left:40%;
}

#st-control-4,#st-control-4 + a{
	left:60%;
}

#st-control-5,#st-control-5 + a{
	left:80%;
}

.st-container input:checked+a,
.st-container input:checked:hover+a{
	background: #821134;
}
/*三角形*/
.st-container input:checked+a:after{
	content:"";
	width:0;
	height:0;
	overflow: hidden;
	border:20px solid transparent;
	border-bottom-color:#821134;
	position:absolute;
	bottom:100%;
	left:50%;
	margin-left: -20px;
}

.st-container input:hover + a {
	background: #AD244F;
}

.st-scroll,
.st-panel{
	width:100%;
	height:100%;
	position:relative;
}

.st-scroll{
	left:0;
	top:0;
	-webkit-transform:tanslate3d(0,0,0);
	-moz-transform:tanslate3d(0,0,0);
	-o-transform:tanslate3d(0,0,0);
	-ms-transform:tanslate3d(0,0,0);
	transform:tanslate3d(0,0,0);
	-webkit-backface-visibility:hidden;

	-webkit-transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-ms-transition:all 0.6s ease-in-out;
	-o-transition:all 0.6s ease-in-out;
	transition:all 0.6s ease-in-out;
}

.st-panel{
	background:#fff;
	overflow:hidden;
}

#st-control-1:checked~.st-scroll{
	-webkit-transform:translateY(0%);
	-moz-transform:translateY(0%);
	-ms-transform:translateY(0%);
	-o-transform:translateY(0%);
	transform:translateY(0%);
}

#st-control-2:checked~.st-scroll{
	-webkit-transform:translateY(-100%);
	-moz-transform:translateY(-100%);
	-ms-transform:translateY(-100%);
	-o-transform:translateY(-100%);
	transform:translateY(-100%);
}

#st-control-3:checked~.st-scroll{
	-webkit-transform:translateY(-200%);
	-moz-transform:translateY(-200%);
	-ms-transform:translateY(-200%);
	-o-transform:translateY(-200%);
	transform:translateY(-200%);
}

#st-control-4:checked~.st-scroll{
	-webkit-transform:translateY(-300%);
	-moz-transform:translateY(-300%);
	-ms-transform:translateY(-300%);
	-o-transform:translateY(-300%);
	transform:translateY(-300%);
}

#st-control-5:checked~.st-scroll{
	-webkit-t
	ransform:translateY(-400%);
	-moz-transform:translateY(-400%);
	-ms-transform:translateY(-400%);
	-o-transform:translateY(-400%);
	transform:translateY(-400%);
}


.st-desc{
	width:200px;
	height:200px;
	background: #fa96B5;
	position:absolute;
	left:50%;
	top:0;
	margin-left:-100px;
	-webkit-transform:translateY(-50%) rotate(45deg);
}

[data-icon]:after{
	content:attr(data-icon);
	width:200px;
	height:200px;

	color:#fff;
	font-size: 90px;
	text-align:center;
	line-height: 200px;
	position:absolute;

	-webkit-transform:rotate(-45deg) translateY(25%);
	-moz-transform:rotate(-45deg) translateY(25%);
	-ms-transform:rotate(-45deg) translateY(25%);
	-o-transform:rotate(-45deg) translateY(25%);
	transform:rotate(-45deg) translateY(25%);

	font-family:"Raphaelicons";
	text-shadow:1px 1px 1px rgba(151,24,64,0.2);
}

.st-panel h2{
	color:#fa96B5;
	font-size: 50px;
	line-height: 50px;
	text-align:center;
	width:80%;
	 top:50%;
	 left:10%;
	 margin-top:-80px;
	 position:absolute;

	 text-shadow:1px 1px 1px rgba(151,24,64,0.2);
	 -webkit-backface-visibility:hidden;
}

#st-control-1:checked~ .st-scroll #st-panel-1 h2,
#st-control-2:checked~ .st-scroll #st-panel-2 h2,
#st-control-3:checked~ .st-scroll #st-panel-3 h2,
#st-control-4:checked~ .st-scroll #st-panel-4 h2,
#st-control-5:checked~ .st-scroll #st-panel-5 h2{
	-webkit-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation:moveDown 0.6s ease-in-out 0.2s backwards;
	animation:moveDown 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveDown{
	0%{
		-webkit-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0);
		opacity: 1;
	}
}


@-moz-keyframes moveDown{
	0%{
		-moz-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-moz-transform:translateY(0);
		opacity: 1;
	}
}


@-ms-keyframes moveDown{
	0%{
		-ms-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-ms-transform:translateY(0);
		opacity: 1;
	}
}


@-o-keyframes moveDown{
	0%{
		-o-transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		-o-transform:translateY(0);
		opacity: 1;
	}
}


@keyframes moveDown{
	0%{
		transform:translateY(-40px);
		opacity: 0;
	}
	100%{
		transform:translateY(0);
		opacity: 1;
	}
}

.st-panel p{
	position:absolute;
	width:50%;
	left:25%;
	top:50%;
	font-size: 16px;
	line-height: 22px;
	padding: 0;
	text-align: center;
	-webkit-backface-visibility:hidden;
	color:#8b8b8b;
}

#st-control-1:checked~ .st-scroll #st-panel-1 p,
#st-control-2:checked~ .st-scroll #st-panel-2 p,
#st-control-3:checked~ .st-scroll #st-panel-3 p,
#st-control-4:checked~ .st-scroll #st-panel-4 p,
#st-control-5:checked~ .st-scroll #st-panel-5 p{
	-webkit-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation:moveUp 0.6s ease-in-out 0.2s backwards;
	animation:moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0%{
		-webkit-transform:translateY(20px);
		opacity: 0;
	}
	100%{
		-webkit-transform:translateY(0);
		opacity: 1;
	}
}


@-moz-keyframes moveUp{
	0%{
		-moz-transform:translateY(20px);
		opacity: 0;
	}
	100%{
		-moz-transform:translateY(0);
		opacity: 1;
	}
}


@-ms-keyframes moveUp{
	0%{
		-ms-transform:translateY(20px);
		opacity: 0;
	}
	100%{
		-ms-transform:translateY(0);
		opacity: 1;
	}
}


@-o-keyframes moveUp{
	0%{
		-o-transform:translateY(20px);
		opacity: 0;
	}
	100%{
		-o-transform:translateY(0);
		opacity: 1;
	}
}


@keyframes moveUp{
	0%{
		transform:translateY(20px);
		opacity: 0;
	}
	100%{
		transform:translateY(0);
		opacity: 1;
	}
}

.st-color{
	background: #fa96B5;
}
.st-color .st-desc{
	background: #fff;
}
.st-color [data-icon]:after{
	color:#fa96B5;
}

.st-color h2{
	color:#fff;
	text-shadow:1px 1px 1px rgba(0,0,0,0.1);
}

.st-color p{
	color:rgba(255,255,255,0.8);
}


@media screen and (max-width: 520px){
	.st-panel h2{
		font-size: 35px;
	}

	.st-panel p{
		width:90%;
		left:5%;
		margin-top: 0;
	}

	.st-container > a{
		font-size: 5px;
	}

	.st-desc{
		width:120px;
		height:120px;
		margin-left: -60px;
	}

	[data-icon]:after{
		font-size: 60px;
		-webkit-transform:rotate(-45deg) translateY(-10%);
	-moz-transform:rotate(-45deg) translateY(-10%);
	-ms-transform:rotate(-45deg) translateY(-10%);
	-o-transform:rotate(-45deg) translateY(-10%);
	transform:rotate(-45deg) translateY(-10%);


	}
}