.container{
    width: 1000px;
    padding: 40px;
    margin:0 auto;
    color: #666;
    font-family: "Microsoft Yahei";
}
.fl{
    float: left;
}
.fr {
    float: right;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    text-align: center;
    width: 1000px;
}
th {
    background:#f3f0f0;
    border-top: 3px solid #ccc;
    height: 30px;
    font-weight: lighter;
}
td {
    padding: 10px;
    color: #444;
    border-bottom: 1px solid rgba(243,240,240,1);
}
.checkbox {
    width: 80px;
}
.goods span {
    margin-top: 35px;
    float: left;
}
.price {
    width: 100px;
}
.count {
    width: 120px;
}
.count .add, .count input, .count .reduce {
    float: left;
    margin-right: -1px;
    position: relative;
    z-index: 0;
    border:0 solid #ccc;
}
.count .add, .count .reduce {
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    color: #444;
    display: inline-block;
    border: 2px solid #c1bfbf;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 3px 1px #ccc;
}
.count .add:hover, .count .reduce:hover {
    z-index: 3;
    cursor: pointer;
}
.count input {
    width: 50px;
    height: 15px;
    line-height: 15px;
    color: #343434;
    text-align: center;
    padding: 7px 0;
    margin:0 3px;
    background-color: #fff;
    z-index: 2;
}
.subtotal {
    width: 150px;
    color: red;
    font-weight: bold;
}
.operation {
    width: 80px;
}
.operation span:hover, a:hover {
    cursor: pointer;
    color: red;
    text-decoration: underline;
}
.goods img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    float: left;
}

.foot {
    width: 1000px;
    margin-top: 10px;
    color: #666;
    height: 48px;
    border: 1px solid #c8c8c8;
    background-color: #eaeaea;
    background-image:linear-gradient(RGB(241,241,241),RGB(226,226,226));
    position: relative;
    z-index: 8;
}
.foot div, .foot a {
    line-height: 48px;
    height: 48px;
}
.foot .select-all {
    width: 100px;
    height: 48px;
    line-height: 48px;
    padding-left: 5px;
    color: #666;
}
.foot .closing {
    border-left: 1px solid #c8c8c8;
    width: 100px;
    text-align: center;
    color: #000;
    font-weight: bold;
    background: RGB(238,238,238);
    cursor: pointer;
}
.foot .total{
    margin: 0 20px;
    cursor: pointer;
}
.foot  #priceTotal, .foot #selectedTotal {
    color: red;
    font-family: "Microsoft Yahei";
    font-weight: bold;
}
.foot .selected {
    cursor: pointer;
}
.foot .selected .arrow {
    position: relative;
    top:-3px;
    margin-left: 3px;
}
.foot .selected .down {
    position: relative;
    top:3px;
    display: none;
}
 .show .selected .down {
    display: inline;
}
 .show .selected .up {
    display: none;
}
.foot .selected:hover .arrow {
    color: red;
}
.foot .selected-view {
    width: 935px;
    border: 1px solid #c8c8c8;
    position: absolute;
    height: auto;
    background: #ffffff;
    z-index: 9;
    bottom: 48px;
    left: -1px;
    display:none;
}
.show .selected-view {
    display: block;
}

.foot .selected-view div{
    height: auto;
}
.foot .selected-view .arrow {
    font-size: 16px;
    line-height: 100%;
    color:#c8c8c8;
    position: absolute;
    right: 330px;
    bottom: -9px;
}
.foot .selected-view .arrow span {
    color: #ffffff;
    position: absolute;
    left: 0px;
    bottom: 1px;
}
#selectedViewList {
    padding: 10px;
    margin-bottom: -20px;
}
#selectedViewList img{
    wdith:100px;
    height:100px;
}
#selectedViewList div{
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    margin: 10px;
}
#selectedViewList div span {
    display: none;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 60px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background: RGBA(0,0,0,.5);
    cursor: pointer;
}
#selectedViewList div:hover span {
    display: block;
}

