body{
	font-family: "微软雅黑";
	font-size: 20px;
}

body,ul{
	margin:0;
	padding:0;
	list-style: none;
}

.wrap{
	width:70%;
	height:200px;
	background: #fff;
	margin:50px auto;
	
}

.wrap h1{
	font-size: 20px;
	text-align: center;
	line-height: 200px;
}

.effect{
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
	position:relative;
}

.effect:after,.effect:before{
	content:'';
	background: #f00;
	position:absolute;
	z-index:-1;
	top:50%;
	bottom:0;
	left:10px;
	right:10px;
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.8);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.8);
	box-shadow:0 0 20px rgba(0,0,0,0.8);
	border-radius:100px/10px;

}

.box{
	width:980;
	height:auto;
	clear:both;
	overflow: hidden;
	margin: 20px auto;
}

.box li{
	width:300px;
	height:210px;
	float:left;
	background: #fff;
	position: relative;
	margin:20px 10px;
	border:2px solid #efefef;
	box-shadow: 0 1px 4px rgba(0,0,0,0.27), 0 0 60px rgba(0,0,0,0.1) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.27), 0 0 60px rgba(0,0,0,0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,0.27), 0 0 60px rgba(0,0,0,0.1) inset;
	-o-box-shadow: 0 1px 4px rgba(0,0,0,0.27), 0 0 60px rgba(0,0,0,0.1) inset;
	-ms-box-shadow: 0 1px 4px rgba(0,0,0,0.27), 0 0 60px rgba(0,0,0,0.1) inset;
}

.box li img{
	display: block;
	width:290px;
	height:200px;
	margin:5px;
}

.box li:before{
	content:'';
	position:absolute;
	z-index:-1;
	width:89%;
	height:80%;
	left:20px;
	bottom:8px;
	background: transparent;
	box-shadow: 2px 8px 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: 2px 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow:2px 8px 20px rgba(0,0,0,0.6);
	-webkit-transform:skew(-12deg) rotate(-4deg);
	-moz-transform:skew(-12deg) rotate(-4deg);
	-o-transform:skew(-12deg) rotate(-4deg);
	-ms-transform:skew(-12deg) rotate(-4deg);

}

.box li:after{
	content:'';
	position:absolute;
	z-index:-1;
	width:89%;
	height:80%;
	right:20px;
	bottom:8px;
	background: transparent;
	box-shadow: -2px 8px 20px rgba(0,0,0,0.6);
	-webkit-box-shadow: -2px 8px 20px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 8px 20px rgba(0,0,0,0.6);
	-o-box-shadow:-2px 8px 20px rgba(0,0,0,0.6);
	-webkit-transform:skew(12deg) rotate(4deg);
	-moz-transform:skew(12deg) rotate(4deg);
	-o-transform:skew(12deg) rotate(4deg);
	-ms-transform:skew(12deg) rotate(4deg);

}
